body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(41, 52, 117);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.colorWhite {
  color: white;
}

.center {
  display: flex;
  justify-content: center;
}

.movie-cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.movie-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.movie-card-image {
  width: 100%;
  height: 200px;
  background-color: #ddd;
  border-radius: 5px 5px 0 0;
}

.movie-name {
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.movie-rating {
  color: #888;
  margin-bottom: 10px;
}
